html {
    font-family: 'Roboto', sans-serif;
}

/*BOX MODEL
Modelo de caixa
toda caixa tem
largura, altura, espaçamento, preenchimento
bordas, cor, fundo, maneira que é vista pelo html (display)
alinhamentos
*/
/**/
header {
    display: flex; /*coloca os filhos da tag um do lado do outro*/
    align-items: center; /*Alinhando ao centro*/
    justify-content: space-between; /*Espaço entre eles*/

}

.content {
    width: 90%; /*largura*/
    max-width: 1100px;
    
    margin: 0 auto;
}